<template>
  <div id="calculator">
    <div class="form-group">
      <div class="columns header">
        <div class="column is-one-quarter is-vcentered">
          <img src="../assets/logo.png" width="75" height="75">
        </div>
        <div class="column is-three-quarters is-vcentered">
          <h1>WealthBar TFSA v RRSP</h1>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="field-label">
          <label for="marginal-tax-rate"
                 class="label">
            Current Marginal Tax Rate
          </label>
        </div>
        <div class="control has-icons-left">
          <input type="number"
                 id="marginal-tax-rate"
                 class="form-control input is-large"
                 placeholder="38.29"
                 v-model.number="userData.marginalTaxRate">
          <span class="icon is-left">
          <i class="fas fa-percentage"></i>
        </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="field-label">
          <label for="retirement-tax-rate"
                 class="label">
            Average Tax Rate in Retirement
          </label>
        </div>
        <div class="control has-icons-left">
          <input type="number"
                 id="retirement-tax-rate"
                 class="form-control input is-large"
                 placeholder="20.64"
                 v-model.number="userData.retirementTaxRate">
          <span class="icon is-left">
          <i class="fas fa-percentage"></i>
        </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="field-label">
          <label for="deposit"
                 class="label">
            Amount of Deposit
          </label>
        </div>
        <div class="control has-icons-left">
          <input type="number"
                 id="deposit"
                 class="form-control input is-large"
                 placeholder="1000"
                 v-model.number="userData.deposit">
          <span class="icon is-left">
          <i class="fas fa-dollar-sign"></i>
        </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="field-label">
          <label for="years"
                 class="label">
            Years Invested
          </label>
        </div>
        <div class="control has-icons-left">
          <input type="number"
                 id="years"
                 placeholder="30"
                 class="form-control input is-large"
                 v-model.number="userData.years">
          <span class="icon is-left">
          <i class="fas fa-calendar-alt"></i>
        </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="field-label">
          <label for="roi" class="label">Return on Investment</label>
        </div>
        <div class="control has-icons-left">
          <input type="number"
                 id="roi"
                 class="form-control input is-large"
                 placeholder="6.5"
                 v-model.number="userData.roi">
          <span class="icon is-left">
          <i class="fas fa-percentage"></i>
        </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="field-label">
          <label for="inflation" class="label">Inflation Rate</label>
        </div>
        <div class="control has-icons-left">
          <input type="number"
                 id="inflation"
                 min="0"
                 class="form-control input is-large"
                 placeholder="2.5"
                 v-model.number="userData.inflation">
          <span class="icon is-left">
          <i class="fas fa-percentage"></i>
        </span>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button class="button is-primary"
                  @click.prevent="submit">Submit
          </button>
        </div>
        <div class="control">
          <button class="button is-text"
                  @click.prevent="reset">Reset
          </button>
        </div>
      </div>
    </div>

    <!-- Results -->
    <div class="results" v-if="isSubmitted">
      <table class="results-table table is-bordered">
        <tbody>
        <tr>
          <td></td>
          <td>TFSA</td>
          <td>RRSP</td>
        </tr>
        <tr>
          <th>Total Deposit</th>
          <td class="right">{{ tfsaData.totalDeposit | currency }}</td>
          <td class="right">{{ rrspData.totalDeposit | currency  }}</td>
        </tr>
        <tr>
          <th>Future Value</th>
          <td class="right">{{ tfsaData.futureValue | currency  }}</td>
          <td class="right">{{ rrspData.futureValue | currency  }}</td>
        </tr>
        <tr>
          <th>Future Tax Paid</th>
          <td class="right">{{ tfsaData.futureTaxPaid | currency  }}</td>
          <td class="right">{{ rrspData.futureTaxPaid | currency  }}</td>
        </tr>
        <tr>
          <th>After Tax Future Value</th>
          <td class="right">{{ tfsaData.afterTaxFutureValue | currency  }}</td>
          <td class="right">{{ rrspData.afterTaxFutureValue | currency  }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</template>

<script>
export default {
  name: 'WealthBarCalculator',
  data () {
    return {
      userData: {
        marginalTaxRate: '',
        retirementTaxRate: '',
        deposit: '',
        years: '',
        roi: '',
        inflation: ''
      },
      tfsaData: {
        totalDeposit: '',
        futureValue: '',
        futureTaxPaid: '',
        afterTaxFutureValue: ''
      },
      rrspData: {
        totalDeposit: '',
        futureValue: '',
        futureTaxPaid: '',
        afterTaxFutureValue: ''
      },
      isSubmitted: false
    }
  },
  methods: {
    /**
     * Submits the calculator form.
     *
     * Sets the components isSubmitted property to true.
     */
    submit () {
      this.calculateTFSA()
      this.calculateRRSP()
      this.isSubmitted = true
    },
    /**
     * Reset the calculator form.
     */
    reset () {
      for (let prop in this.userData) {
        this.userData[prop] = ''
      }
      this.isSubmitted = false
    },
    /**
     * Calculates TFSA values based on user input.
     *
     * Will set the corresponding component properties that are used later for
     * output.
     */
    calculateTFSA () {
      // Get real rate of return, then get future value.
      let realRate = this.realRateOfReturn(this.userData.roi, this.userData.inflation)
      let futureValue = this.futureValue(this.userData.deposit, realRate, this.userData.years)
      this.tfsaData.totalDeposit = this.userData.deposit
      this.tfsaData.futureValue = futureValue
      this.tfsaData.futureTaxPaid = 0
      this.tfsaData.afterTaxFutureValue = futureValue
    },
    /**
     * Calculates RRSP values based on user input.
     *
     * Will set the corresponding component properties that are used later for
     * output.
     */
    calculateRRSP () {
      // Get real deposit with marginal tax rate calculation.
      let deposit = this.userData.deposit / (1 - this.userData.marginalTaxRate / 100)
      let realRate = this.realRateOfReturn(this.userData.roi, this.userData.inflation)
      let futureValue = this.futureValue(deposit, realRate, this.userData.years)
      let futureTaxPaid = futureValue * this.userData.retirementTaxRate / 100
      this.rrspData.totalDeposit = deposit
      this.rrspData.futureValue = futureValue
      this.rrspData.futureTaxPaid = -futureTaxPaid
      this.rrspData.afterTaxFutureValue = futureValue - futureTaxPaid
    },
    /**
     * Calculates real rate of return.
     *
     * @param{number} nominal The stated rate or normal return that is not adjusted for inflation.
     * @param{number} inflation  calculated based on the changes in price indices which are the price on a group of goods.
     *
     * @return{number} The real rate of return.
     *
     * @see http://www.financeformulas.net/Real_Rate_of_Return.html
     */
    realRateOfReturn (nominal, inflation) {
      return ((1 + nominal / 100) / (1 + inflation / 100) - 1) * 100
    },
    /**
     * Calculates future value.
     *
     * @param{number} presentValue The present value or cash flow at period 0.
     * @param{number} rate Rate of return.
     * @param{number} periods Total number of periods.
     *
     * @return{number} The future value of given present value.
     *
     * @see http://www.financeformulas.net/Future_Value.html
     */
    futureValue (presentValue, rate, periods) {
      return presentValue * Math.pow(1 + rate / 100, periods)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  #calculator {
    .header {
      display: flex;
      align-items: center;

      h1 {
        font-size: 2.2em;
        font-weight: bold;
        color: #fff;
      }
    }

    .field {
      .label {
        color: #fff;
        font-size: 1.2em;
      }

      input {
        text-align: right;

        &::placeholder {
          color: #ddd;
        }
      }

      &.is-grouped {
        display: flex;
        align-items: center;
      }

      .fas {
        color: #008579;
      }

      .button {
        &.is-primary {
          background-color: #008579;
        }
      }

    }

    .results {
      &-table {
        margin-top: 30px;
        padding: 30px;
      }

      td.right {
        text-align: right;
      }

    }

    /* Hide input spinner */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
</style>
