<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 30px;
  width: 55%;
  transform: translate(-50%, -50%);
  background-color: #00b298;
  border-radius: 15px 50px 30px;
}
</style>
